.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-style: bold;
    font-size: 16px;
    line-height: 19px;
    color: black;
}

.header-char {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}

.select-char {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 0px;
}

.main-char {
    padding: 20px 20px;
}