* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-control {
  max-width: 180px;
  width: 100%;
  background-color: #374b7d;
  padding: 12px 12px;
  margin: 10px 15px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  text-decoration-line: none;
  transition: 0.3s ease-out;
}

.btn-control:hover {
  background-color: #434c63;
}