* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

.modal{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}
.modal.active{
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    min-height: 80vh;
    padding: 20px 15px;
    gap: 15px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    transform: scale(0.5);
    transition: 0.4s all;
}

.modal__content.active {
    transform: scale(1);
}



.form__title{
    margin: 10px 0 10px 0 ;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
}

.form__input-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 300px;
    width: 100%;
    align-items: center;
}

label {
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    font-weight: 600;
} 

.form__input {
    border: none;
    border-bottom: 1px solid #bdbdbd;
    outline: none;
    width: 100%;
    max-width: 210px;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.modal-btn {
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

.close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

  .additional-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
  }



  
  